.Card{
    text-align: center;
    box-sizing: border-box;
    height: auto;
    width: 150px;
    border: 2px ;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}
.Card img{
    height: auto;
    width: 100px;
}