.container{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.header{
    text-align: left;
    margin-bottom: 50px;
}